@import "tailwindcss";

html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  text-decoration: none;
}


.hero-container {
  width: 100%;
  height: 80vh;
  background-image: url(assets/hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  background-color: #27323f;
}


nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}


nav ul li a {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  transition: all .3s linear;
}





nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  /* Line thoda text ke niche */
  width: 0;
  height: 2px;

  background-color: #F3E2D4;
  /* green shade */
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: #1C6EA4;
}

nav ul li a:hover::after {
  width: 100%;
}

.social-icon,
.Search,
.Twitter {
  display: flex;
  gap: 1rem;
  color: #fff;
  font-size: 1.2rem;
  transition: all .3s linear;
}

.social-icon .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: coral;
  width: 23rem;
  height: 2.5rem;
  color: blue;
}


button {
  padding-left: 2rem;
  padding-right: 2rem;
}